# **LISTAS**

In [ ]:
Lista1 = [1, 2, 3 ,4]
print(Lista1)

[1, 2, 3, 4]

In [8]:
print(Lista1[2])

3

# **Explica√ß√£o do Fatiamento no Python**

## Em Python, o fatiamento de uma lista funciona com a sintaxe:

### lista[in√≠cio:fim]

E o que isso significa?

O Python inclui o √≠ndice de in√≠cio e exclui o √≠ndice de fim!

Tenhamos como exemplo a Lista1 = [1, 2, 3, '4]

                      √≠ndices:   0 1 2 3

Em uma lista com Quatro elementos - ex.: Lista1 = [1, 2, 3 ,4] - como temos na Lista1, o primeiro elemento recebe √çndice Zero e o quarto elemento recebe o √≠ndice Tr√™s. sendo assim, caso queiramos o terceiro e o quarto elemento como sa√≠da precisamos escrever no c√≥digo:

print(Lista1[2:4])

Por mais que n√£o haja um elemnto no √çndice 4, pois o √çndice do √∫ltimo elemento √© o √çndice 3, colocamos o 4 para dizer que vai at√© o √çndice 4. Ou seja, vai do √çndice 2 (inclui o elemento do √≠ndice 2) at√© o √çndice 4 (at√© o elemento do √¨ndice 3).

Lista1 = [1, 2, 3, '4]

√≠ndices:   0    1    2    3

In [12]:
print(Lista1[0:1])

[1]

In [ ]:
print(Lista1[2:4])

[3, 4]

In [32]:
Lista2 = [1, 2, 3, 4]

In [33]:
Lista2.append(2025)
print(Lista2)

[1, 2, 3, 4, 2025]

In [35]:
Lista2.pop()
#

2025

In [36]:
print(Lista2)

[1, 2, 3, 4]

# **TUPLAS**

### **Quando os elementos de uma tupla (ou qualquer estrutura de dados em Python) forem do tipo str (string), eles devem obrigatoriamente estar entre aspas simples (') ou duplas ("). Isso vale para:**

#### Tuplas: ('Pedro', 'Marcos', 'Jo√£o')

#### Listas: ['Pedro', 'Marcos', 'Jo√£o']

#### Dicion√°rios: {'nome': 'Pedro'}

#### Atribui√ß√µes diretas: nome = 'Pedro'

##### üìå Por que as aspas s√£o necess√°rias?

**As aspas indicam para o interpretador do Python que aquele valor √© uma string literal, ou seja, texto. Sem aspas, o Python tentaria interpretar os nomes como vari√°veis, o que causaria erro se essas vari√°veis n√£o existirem.**

In [45]:
Alunos = ('Pedro','Marcos', 'Jo√£o')

#### **Tecnicamente, voc√™ pode deixar um espa√ßo entre Alunos e [1], mas n√£o √© recomendado.**

No Python, esse espa√ßo n√£o causa erro de sintaxe, ent√£o as duas formas abaixo funcionam:

Alunos[1]   # ‚úÖ Forma correta e recomendada
Alunos [1]  # ‚úÖ Funciona, mas √© contra as boas pr√°ticas

Mas segundo o PEP 8 ‚Äî o guia de estilo oficial do Python ‚Äî n√£o se deve colocar espa√ßo entre o nome da vari√°vel e os colchetes de indexa√ß√£o.

In [ ]:
Alunos[1] #RECOMENDADO

'Marcos'

In [47]:
Alunos [1] #N√ÉO √â UMA BOA PR√ÅTICA

'Marcos'

### **print(Alunos[1])** n√£o √© a mesma coisa de **Alunos[1]**

#### **1. Usar apenas Alunos[1]**

Quando voc√™ executa:

Alunos[1]

em um notebook, como o Jupyter ou no VS Code, o valor do √∫ltimo comando √© automaticamente exibido como sa√≠da, mesmo sem o uso do print().

**Esse comportamento √© exclusivo de ambientes interativos.**

#### **2. Usar print(Alunos[1]):**

print(Alunos[1])

**Isso for√ßa a exibi√ß√£o do valor, independentemente do ambiente.**

In [48]:
print(Alunos[1])

Marcos

In [50]:
print(Alunos)

('Pedro', 'Marcos', 'Jo√£o')

In [51]:
print(Alunos[-3])
print(Alunos[-1])

Pedro
Jo√£o

In [52]:
nome, ano_da_posse =('Lucas', 2025)

In [53]:
print(nome)

Lucas

In [55]:
print(ano_da_posse)

2025

# **DICION√ÅRIOS**

In [57]:
gastos_por_compra = {'Paulo': 1200, 'Maria': 450, 'Lucas': 2850, 'Anderson': 10500}

In [60]:
print(gastos_por_compra)
print(gastos_por_compra['Lucas'])

{'Paulo': 1200, 'Maria': 450, 'Lucas': 2850, 'Anderson': 10500}
2850

In [62]:
gastos_por_compra['Lucas'] = 12000

print(gastos_por_compra['Lucas'])

12000

In [63]:
gastos_por_compra.keys()

dict_keys(['Paulo', 'Maria', 'Lucas', 'Anderson'])

In [64]:
gastos_por_compra.values()

dict_values([1200, 450, 12000, 10500])

In [65]:
gastos_por_compra.items()

dict_items([('Paulo', 1200), ('Maria', 450), ('Lucas', 12000), ('Anderson', 10500)])

# **ESTRUTURAS DE REPETI√á√ÉO**

In [66]:
ar_condicionados = ['Lg', 'Samsung', 'Carrier', 'TCL']

for marca in ar_condicionados:
    print(marca)

Lg
Samsung
Carrier
TCL